@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-controller="Login" asp-action="Login" method="get">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" />
    </div>
    <button class="btn btn-primary">Login</button>
</form>
